.m-hc {
  margin: 0 auto;
}

//text




.h-mainHeader {
  font-size: 2.5em;
  font-weight: 600;
}

.h-subHeader {
  font-size: 1.5em;
  display: block;
  font-weight: 600;
}

.f-boldText {
  font-weight: 600;
}

.mr-b10 {
  margin-bottom: 10%;
}

.mr-b2 {
  margin-bottom: 2%;
}


