* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 30px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
  @media screen and (max-width: 700px) {
    font-size: 14px;
  }
}

.page-content {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 100%;
    @media screen and (min-width: 1024px) {
      grid-template-columns: 0.1fr 1fr 0.1fr;
    }
  }
}

.about {
  height: auto;
  width: 100%;
  &-autors {
    width: 100%;
    height: 100%;
  }
  &-header {
    height: auto;
  }
  &-autor-block {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 100%;
      @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 0.1fr 1fr;
      }
    }
  }
}

.contents {
  @supports (display: grid) {
    display: grid;
    width: 100%;
    // grid-template-columns: 1fr;
    @media screen and (max-width:1024px) {
      width:80%;
    }
  }
}

.content-block {
  width: 100%;
  &-header {
    text-align: center;
    &__text {
    }
  }
}

.h-mainHeader {
  font-size: 2.5em;
  font-weight: 600;
}

.mr-b10{
  margin-bottom: 10%;
}



.a-center{
  margin: 0 auto;
}

