@import "./atomic";

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 24px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
  @media screen and (max-width: 700px) {
    font-size: 14px;
  }
}

.blackShadow {
  animation-name: fill-shadow-black;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fill-shadow-black {
  0% {
    background: rgb(0,0,0,0.2);
  }
  25% {
    background: rgb(0,0,0,0.4);
  }
  75% {
    background: rgb(0,0,0,0.6);
  }
  100% {
    background: rgb(0,0,0,0.8);
  }
}


.whiteShadow{
  animation-name: fill-shadow-white;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fill-shadow-white {
  0% {
    background: rgb(0,0,0,0.8);
  }
  25% {
    background: rgb(0,0,0,0.6);
  }
  75% {
    background: rgb(0,0,0,0.4);
  }
  100% {
    background: rgb(0,0,0,0);
  }
}


.bcgc-b{
  box-shadow: inset 0 0 9999px 1000px black;
}

.about {
  &-autors {
    width: 100%;
    height: 100%;
    &-header {
      height: auto;
      &-block {
        width: 80%;
      }
    }
  }
}

.page-content {
  width: 100%;
}

.flex-mainColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

author-card {
  @supports (display: grid) {
    width: 100%;
  }
  width: 50%;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.flex-rw {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid-mainColumn {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    -ms-grid-column: 1fr;
    @media screen and (min-width: 1024px) {
      grid-template-columns: 0.1fr 1fr 0.1fr;
      -ms-grid-column: 0.1fr 1fr 0.1fr;
    }
  }
}
.grid-3col {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    -ms-grid-column: 1fr;
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 0.1fr 1fr;
      -ms-grid-column: 1fr 0.1fr 1fr;
    }
  }
}
.grid-1col {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    -ms-grid-column: 1fr;
    @media screen and (max-width: 1024px) {
      width: 80%;
    }
  }
}

.none {
  display: none;
  @supports (display: grid) {
    display: block;
  }
}

.contents {
  width: 80%;
  margin: 0 auto;
  @supports (display: grid) {
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    width: 80%;
  }
}

.content {
  &-block {
    &-header {
      text-align: center;
    }
    &-description {
      width: 100%;
      &__text {
        float: right;
        display: block;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        @media screen and (min-width: 1024px) {
          width: 70%;
        }
      }
    }
  }
}
