.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:100%;
    width:100%;
    align-content: space-between;
}

.photo-wrapper{
    width:100%;
}

.author-photo{
    width: 80%;
    display: block;
    position: relative;
    z-index: -1;
    margin:auto;
}

.photo-wrapper:hover img{
    scale: (1.2);
    z-index: 1;
    transition: 1s;
}



.author-description{
    width: 80%;
    margin: 0 auto 0 auto;
}

.author-description > p{
    margin: 0 ;
}
