.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:100%;
    width:100%;
    align-content: space-between;
}

.photo-wrapper{
    width:100%;
}

.author-photo{
    width: 80%;
    display: block;
    margin:auto;
}

.author-photo:hover {
    width: 100%;
    transition: 1s;
}

// :host{
//     background-color: black;
// }



.author-description{
    width: 80%;
    margin: 0 auto 0 auto;
}

.author-description > p{
    margin: 0 ;
    // display: block;
}

// .author-description{
//     width:100%;
// }