.table-list{
    
    padding:0;
    margin:0;
    list-style: none;

    float: right;

    width:70%;
    @media screen and (max-width:1024px) {
        width:100%;
    }
    
    // background-color: red;

    display: flex;
    flex-wrap: wrap;
}


.table-list__element{
   width:100%; 
   display: flex;
   margin: 0;
   padding: 0;
}

.number, .empty{
    // width:auto;
    width: 6%;
}

.string{
    margin-right: 4%;
}

.list-description{
    // margin-left: 2%;
    width:100%;
}

.list-pageNumber{
    width:auto;
}