<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./components/components.css" />
    <title>About</title>
  </head>
  <body>
    <div class="content-container">
      <div class="content-page">
        <h2
          class="content-page__item_header_level2 c-black_gray"
        >
          Page 1
        </h2>
        <p class="c-black_gray content-page__item_text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis esse
          necessitatibus officiis reprehenderit unde perferendis excepturi
          cumque, impedit voluptate minus.
        </p>
      </div>
    </div>
  </body>
</html>
