<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./components/components.css" />
    <title></title>
  </head>
  <body>
    <div class="content-container">
      <div class="content-page">
        <h2 class="content-page__item content-page__item-header-level2 c-black_gray ">Page 2</h2>
        <h2 class="content-page__item content-page__item-header-level2 c-black_gray ">Level 2 heading</h2>
        <p class="content-page__item c-black_gray content-page__item-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi rem
          porro cum reprehenderit autem, aliquid qui laborum animi laboriosam
          neque saepe. Voluptatum exercitationem hic aut necessitatibus ea odit
          facilis, dolorum velit ipsum officia magnam nostrum facere maiores
          voluptates quasi ipsa! Debitis totam ea alias, vero quis rem placeat
          necessitatibus sequi ducimus ratione qui autem quaerat a ad. Nobis
          esse accusamus perspiciatis adipisci voluptas harum omnis temporibus
          blanditiis officia a dolorem, porro sit provident molestiae voluptatem
          animi impedit, itaque unde voluptatum! Veniam veritatis fugiat
          nesciunt a, facere quis dolorem molestias voluptates illum unde omnis
          consequuntur recusandae quam, vel voluptas! Ipsum autem voluptatibus
          dignissimos libero unde culpa sapiente? Maxime quas ratione magni
          consequatur est quo, quaerat ut asperiores impedit accusamus. Modi
          aspernatur totam delectus nulla deserunt, sed eum dolore adipisci vel
          reprehenderit veritatis perferendis blanditiis quaerat velit, iste
          fuga officiis ea at nostrum assumenda neque! Tempora ab, maxime
          temporibus laborum voluptatem praesentium.
        </p>
        <h3 class="content-page__item-header-level3 content-page__item c-black_gray">Level 3 Heading</h3>
        <ul class="content-page__item c-black_gray content-page__item-text ml-20">
          <li>Basic List Sample</li>
          <li>Basic List Sample</li>
          <li>Basic List Sample</li>
          <li>Basic List Sample</li>
          <li>Basic List Sample</li>
          <li>Basic List Sample</li>
        </ul>
      </div>
    </div>
  </body>
</html>
