
.sidebar-button__label {
  display: block;
  cursor: pointer;
  line-height: 30px;
  border: none;
  font-weight: 100;
  font-family: Arial;
  font-size: 1em;
  background-color: #383838;
  color: white;
  text-align: center;
  white-space: nowrap;
}


.sidebar-button__input:checked + .sidebar-button__label {
  background-color: white;
  color: black;
  text-decoration: underline;
}